@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@500&display=swap');

body {
	font-family: 'Wix Madefor Text', sans-serif;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.background-image {
 position: absolute;
	width: 101%;
	height: auto;
	object-fit: contain;
	filter: blur(5px);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.background-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.4);
	z-index: -1;
}

.content {
	position: relative;
	z-index: 1;
	color: white;
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100vh;
}

.profile-container {
	display: flex;
	flex-direction: row; /* Явно указываем горизонтальное направление */
	align-items: flex-start;
	gap: 45px; /* Отступ 45px между элементами */
	max-width: 1205px; /* 300px + 45px + 860px */
	margin: 0 auto; /* Центрируем контейнер */
	flex-wrap: wrap;
}

.avatar {
	width: 225px;
	height: 225px;
	border-radius: 5px;
	object-fit: cover;
}

.info-box {
	width: 860px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	border: 25px solid transparent; /* Рамка 25px */
	box-sizing: border-box;
	min-height: 235px;
}

/* Контент внутри прямоугольника */
.info-content {
	color: white;
}

.info-content h1 {
	margin-top: 0;
	font-size: 2em;
}

.info-content p {
	line-height: 1.5; /* Уменьшил с 1.6 */
	margin-bottom: 6px; /* Уменьшил с 10px */
	font-size: larger;
}

.song {
	color: #A93232;
	text-decoration: none;
	cursor: pointer;
}

#status {
	display: none;
	white-space: normal;
	max-width: 860px;
}

#status div {
	display: inline-block;
	max-width: 400px;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
}

.unselectable {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.info-content > h1 {
	line-clamp: 2;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	display: -webkit-inline-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}